#header {
  background-color: #b2e7ff;
  font-family: "tahoma";
  font-size: 24px;
  color: black;
  text-align: center;
  border-bottom: solid #0ab1ff 2px;
  width: 1109px;
  padding-top: 35px;
  padding-bottom: 25px;
}

#footer {
  background-color: #3cff78;
  font-family: "tahoma";
  font-size: 24px;
  color: black;
  text-align: center;
  border-bottom: solid #0ab1ff 2px;
  padding-top: 35px;
  padding-bottom: 25px;
  width: 1109px;
}

#left_bar {
  background-color: #0ab1ff;
  padding: 25px 10px;
  width: 250px;
  display: table-cell;
  height: 100%
}

#left_bar p {
  font-family: "tahoma";
  font-size: 18px;
  color: black;
  padding: 20px 0px;
}

#left_bar li {
  font-family: "tahoma";
  font-size: 14px;
  color: white;
  padding: 15px 0px;
}

#left_bar #paragraph {
  font-family: "tahoma";
  font-size: 12px;
  color: black;
}

#content {
  background-color: #ededed;
  width: 799px;
  padding-left: 20px;
  padding-right: 20px;
  display: table-cell;
  height: 100%;
}

#content #heading {
  font-family: "tahoma";
  font-size: 24px;
  color: black;
  padding-bottom: 20px;
  padding-top: 20px;
}

#content p {
  font-family: "tahoma";
  font-size: 14px;
  color: #802525;
}

#container {
  display: table-row;
}