.main_menu {
  float: left;
  list-style-type: none;
  font-family: "Georgia";
  font-style: italic;
  font-size: 18px;
  padding:0px;
  height: 37px;
  margin-left: 2px;
  margin-top: 30px;
  border-bottom: solid #6d6d6d 1px;
}

.main_menu_li {
  position: relative;
  float: left;
  margin-left: 2px;
}

.main_menu_li:first-child {
  margin-left: 0px;
} 

ul.main_menu > li > a {
  background-color: #cfcfcf;
  text-decoration: none;
  padding: 8px 10px 7px;
  color:black;
  display: block;
}

ul.main_menu > li:hover > a {
  font-family: "Georgia";
  font-style: italic;
  font-size: 18px;
  color: #8C8C8C;
  background: white;
  padding: 7px 9px 8px;
  border: solid black 1px;
  border-bottom: none;
  position: relative;
  z-index: 1;
}

ul.list li a:link {
  text-decoration: none;
}

.list, .last_menu_bar {
  list-style-type: none;
  width: 181px;
  border: solid #6d6d6d 1px;
  padding: 10px;
  display: none;
  background-color: white;
  font-family: "Georgia";
  font-size: 14px;
  font-style: italic;
  color:black;
  margin-top: 0px;
  position: absolute;
  border-top: none;
}

.list.last_menu_bar {
  position: absolute;
  left: auto;
  right: 0px;
}

ul.list li {
  padding: 5px 0px;
  border-bottom: solid #cfcfcf 1px;
}

ul.list li a {
  font-family: "Georgia";
  font-style: italic;
  color: black;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 14px;
}

li:hover ul {
  display: block;
}

ul.list a:hover {
  color: #bd0707;
}

ul.list li.last_link {
  border-bottom: none;
}